<h1>Soundcloud playlists</h1>


<section id="meta"></section>

<section id="playlist"></section>

<section id="sc-player"></section>


<div>
  <h3>Bookmarklet</h3>
  <p>Drag and drop this link to you browser's bookmark bar in order to quickly add Soundcloud tracks to your playlist directly from Soundcloud:
  <a href="javascript:(function(s){s=document.createElement('SCRIPT');s.type='text/javascript';s.src='<%= bookmarkletUrl %>?'+Math.random();document.getElementsByTagName('head')[0].appendChild(s);})()">Add to Playlist!</a>
  </p>
</div>
