<div id="wrapper">

  <section id="main">
    <div id="player"></div>
    <div id="playlist"></div>
    <div id="playlist-add-track"></div>
  </section>

  <aside>

    <nav id="playlists"></nav>



    <div class="bottom">

        <div id="auth"></div>

        <div id="links">
            <a href="https://github.com/isakb/soundcloud-playlists/issues">
              Report an issue
            </a>

            <div>
              © 2012 Isak Bakken
            </div>

        </div>

    </div>

  </aside>

</div>
