<div id="wrapper">

  <section id="main">
    <div id="sc-player"></div>
    <div id="playlist"></div>
  </section>

  <nav>
    <h2>Your playlists</h2>
    <div id="playlists"></div>
  </nav>

</div>

<footer>
  <strong>Bookmarklet:</strong>
  To quickly add Soundcloud tracks to your active playlist, drag-and-drop this link to your Bookmarks Bar:
  <a href="javascript:(function(s){s=document.createElement('SCRIPT');s.type='text/javascript';s.src='<%= bookmarkletUrl %>?'+Math.random();document.getElementsByTagName('head')[0].appendChild(s);})()">Add to Playlist!</a>.

  When you have done this, simply click on the "Add to Playlist!" bookmark from any Soundcloud track's page.
</footer>
