<div class="player">

  <section class="info">
    <img class="artwork" src="<%= artwork_url %>">
    <span class="title"><%= title %></span>
    <span class="username"><%= user_name %></span>

  </section>

  <div class="cell buttons">
    <!--<button class="prev"> « </button>-->
    <button class="play"> ► </button>
    <!--<button class="next"> » </button>-->
  </div>


  <section class="interactive">

    <div class="cell current-time">0:00</div>

    <div class="cell">
      <input class="slider" type="range" value="0" min="0" max="<%= duration %>" />
    </div>

    <div class="cell duration"><%= formatShortTime(duration) %></div>

  </section>

</div>
