<!-- Edit Playlist template -->
<form class="edit-meta">

  <div class="meta-edit">
    <h3>Playlist details</h3>

    <label>
      Name
      <input name="name" title="Playlist name" value="<%= name %>">
    </label>

    <label>
      Description
      <textarea name="description" title="Description"><%= description %></textarea>
    </label>

    <a class="abort" href="javascript:void(0)">Cancel</a>

    <div class="align-right">
      <button class="css3button align-right save">Save changes</button>
    </div>
  </div>


</form>
